# IDE Metadata folders 
.vs
.vscode
dev-tools
dev-project-tools

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
# *.tfvars
sensitive.auto.tfvars

# Local workspace folders
**/plans
**/outputs
**/temps
**/temp
**/log
**/logs
*.hcl